@require '../theme'

/**
 * ENABLE
 *
 * Enables or disables the table module and/or features using a simple
 * boolean variable.
 */
$table__enabled                   ?= true

/**
 * ALIGNMENT
 *
 * Use the recommended table alignment which will center all table column
 * values with exception of the first column, which is left aligned, and
 * the last column, which is right aligned.
 */
$table__use-proper-alignment      ?= true

/**
 * STRIPED TABLE
 *
 * Will alternate between the set background and background-alt options
 * to create a striped table style.
 */
$table__striped                   ?= true

/**
 * COLORS
 */
$table__background                ?= transparent
$table__background-alt            ?= $theme__gray-color-100
