@import 'helpful-ui/helpers/icon'

$hui.icons.default = 'test1'
$hui.icons.sets.test1 = {
  glyphs: {
    foo: '\f00'
    bar: '\f01'
    baz: '\f02'
  }
}
$hui.icons.sets.test2 = {
  glyphs: {
    foo: '\e200'
    bar: '\e201'
    baz: '\e202'
  }
}

.test-icon
  &.\\+foo:before
    icon foo

  &.\\+bar:before
    icon bar

  &.\\+baz:before
    icon baz

  &.\\+foo2:before
    icon test2 foo

  &.\\+bar2:before
    icon test2 bar

  &.\\+baz2:before
    icon test2 baz
