.test-icon.\+foo:before {
  content: '\f00';
}
.test-icon.\+bar:before {
  content: '\f01';
}
.test-icon.\+baz:before {
  content: '\f02';
}
.test-icon.\+foo2:before {
  content: '\e200';
}
.test-icon.\+bar2:before {
  content: '\e201';
}
.test-icon.\+baz2:before {
  content: '\e202';
}
