@import 'helpful-ui/helpers/rules'

$a = {
  b: {
    c: {
      one: 100px
      two: false
      three: none
      four: solid 1px #000
      five: #000
      six: null
      bar: {
        one: working
        two: false
        three: a b c d
      }
    }
  }
}

.foo
  rules($a.b.c)
