@import 'helpful-ui/helpers/units'

.one
  font-size em(16px)

.two
  font-size em(32px, 16px)

.three
  font-size em(32px, 32px)

.four
  font-size em(125%)

.five
  font-size em(1rem, 2rem)

.six
  font-size rem(16px)

.seven
  font-size rem(32px, 16px)

.eight
  font-size rem(32px, 32px)

.nine
  font-size rem(125%)

.ten
  font-size rem(1em, 2em)

.eleven
  font-size px(50px)

.twelve
  font-size px(200%)

.thirteen
  font-size px(100%, 60px)

.fourteen
  font-size pref(16px)

.fifteen
  font-size pref(32px, 16px)
