.one {
  font-size: 1em;
}
.two {
  font-size: 2em;
}
.three {
  font-size: 1em;
}
.four {
  font-size: 1.25em;
}
.five {
  font-size: 0.5em;
}
.six {
  font-size: 1rem;
}
.seven {
  font-size: 2rem;
}
.eight {
  font-size: 1rem;
}
.nine {
  font-size: 1.25rem;
}
.ten {
  font-size: 0.5rem;
}
.eleven {
  font-size: 50px;
}
.twelve {
  font-size: 32px;
}
.thirteen {
  font-size: 60px;
}
.fourteen {
  font-size: 1em;
}
.fifteen {
  font-size: 2em;
}
