@require '../theme'

/**
 * FIELDS
 *
 * Variables for field style.
 */
$form__size                   ?= $global__size
$form__text-color             ?= $theme__control-color
$form__background             ?= $theme__control-background
$form__height                 ?= $theme__control-height
$form__shadow                 ?= $theme__control-shadow
$form__border-radius          ?= pref($theme__control-radius, $form__size)
$form__border-color           ?= $theme__control-border-color
$form__border-width           ?= $theme__control-border-width
