/**
 * Returns the column width based on how many columns it spans and
 * the total number of columns.
 */
gridColumnWidth($columns, $total = $grid__columns)
  (($columns / $total) * 100) + 0%

/**
 * Generates a new set of column modifiers.
 */
gridColumnClasses($prefix)
  for $i in (1)..($grid__columns)
    &.{$prefix + $i}
      width gridColumnWidth($i)

    &.{$prefix + $i}-push
      margin-left gridColumnWidth($i)
