/**
 * Bootstraps all modules as an alternative to manually cherry
 * picking desired modules.
 */
html,
body,
body div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
figure,
footer,
header,
menu,
nav,
section,
time,
mark,
audio,
video,
details,
summary {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: normal;
  vertical-align: baseline;
  background: transparent;
}
article,
aside,
figure,
footer,
header,
nav,
section,
details,
summary {
  display: block;
}
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
img,
object,
embed {
  max-width: 100%;
}
html {
  overflow-y: scroll;
}
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
del {
  text-decoration: line-through;
}
abbr[title],
dfn[title] {
  border-bottom: 1px dotted #000;
  cursor: help;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
th {
  font-weight: bold;
  vertical-align: bottom;
}
td {
  font-weight: normal;
  vertical-align: top;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
input,
select {
  vertical-align: middle;
}
input[type="radio"] {
  vertical-align: text-bottom;
}
input[type="checkbox"] {
  vertical-align: bottom;
}
.ie7 input[type="checkbox"] {
  vertical-align: baseline;
}
.ie6 input {
  vertical-align: text-bottom;
}
select,
input,
textarea {
  font: 99% sans-serif;
}
table {
  font-size: inherit;
  font: 100%;
}
small {
  font-size: 85%;
}
strong {
  font-weight: bold;
}
td,
td img {
  vertical-align: top;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
.clickable,
label,
input[type=button],
input[type=submit],
input[type=file],
button {
  cursor: pointer;
}
button,
input,
select,
textarea {
  margin: 0;
}
button,
input[type=button] {
  width: auto;
  overflow: visible;
}
.ie7 img {
  -ms-interpolation-mode: bicubic;
}
.\+clear:before,
.\+clear:after {
  content: " ";
  display: table;
}
.\+clear:after {
  clear: both;
}
.\+cl {
  clear: left;
}
.\+cr {
  clear: right;
}
.grid {
  margin-left: -2em;
  margin-right: -2em;
}
.grid:before,
.grid:after {
  content: " ";
  display: table;
}
.grid:after {
  clear: both;
}
.col {
  float: left;
  display: block;
  padding-left: 2em;
  padding-right: 2em;
  width: 100%;
}
.col.\-xs1 {
  width: 8.333333333333332%;
}
.col.\-xs1-push {
  margin-left: 8.333333333333332%;
}
.col.\-xs2 {
  width: 16.666666666666664%;
}
.col.\-xs2-push {
  margin-left: 16.666666666666664%;
}
.col.\-xs3 {
  width: 25%;
}
.col.\-xs3-push {
  margin-left: 25%;
}
.col.\-xs4 {
  width: 33.33333333333333%;
}
.col.\-xs4-push {
  margin-left: 33.33333333333333%;
}
.col.\-xs5 {
  width: 41.66666666666667%;
}
.col.\-xs5-push {
  margin-left: 41.66666666666667%;
}
.col.\-xs6 {
  width: 50%;
}
.col.\-xs6-push {
  margin-left: 50%;
}
.col.\-xs7 {
  width: 58.333333333333336%;
}
.col.\-xs7-push {
  margin-left: 58.333333333333336%;
}
.col.\-xs8 {
  width: 66.66666666666666%;
}
.col.\-xs8-push {
  margin-left: 66.66666666666666%;
}
.col.\-xs9 {
  width: 75%;
}
.col.\-xs9-push {
  margin-left: 75%;
}
.col.\-xs10 {
  width: 83.33333333333334%;
}
.col.\-xs10-push {
  margin-left: 83.33333333333334%;
}
.col.\-xs11 {
  width: 91.66666666666666%;
}
.col.\-xs11-push {
  margin-left: 91.66666666666666%;
}
.col.\-xs12 {
  width: 100%;
}
.col.\-xs12-push {
  margin-left: 100%;
}
@media (min-width: 30px) {
  .col.\-sm1 {
    width: 8.333333333333332%;
  }
  .col.\-sm1-push {
    margin-left: 8.333333333333332%;
  }
  .col.\-sm2 {
    width: 16.666666666666664%;
  }
  .col.\-sm2-push {
    margin-left: 16.666666666666664%;
  }
  .col.\-sm3 {
    width: 25%;
  }
  .col.\-sm3-push {
    margin-left: 25%;
  }
  .col.\-sm4 {
    width: 33.33333333333333%;
  }
  .col.\-sm4-push {
    margin-left: 33.33333333333333%;
  }
  .col.\-sm5 {
    width: 41.66666666666667%;
  }
  .col.\-sm5-push {
    margin-left: 41.66666666666667%;
  }
  .col.\-sm6 {
    width: 50%;
  }
  .col.\-sm6-push {
    margin-left: 50%;
  }
  .col.\-sm7 {
    width: 58.333333333333336%;
  }
  .col.\-sm7-push {
    margin-left: 58.333333333333336%;
  }
  .col.\-sm8 {
    width: 66.66666666666666%;
  }
  .col.\-sm8-push {
    margin-left: 66.66666666666666%;
  }
  .col.\-sm9 {
    width: 75%;
  }
  .col.\-sm9-push {
    margin-left: 75%;
  }
  .col.\-sm10 {
    width: 83.33333333333334%;
  }
  .col.\-sm10-push {
    margin-left: 83.33333333333334%;
  }
  .col.\-sm11 {
    width: 91.66666666666666%;
  }
  .col.\-sm11-push {
    margin-left: 91.66666666666666%;
  }
  .col.\-sm12 {
    width: 100%;
  }
  .col.\-sm12-push {
    margin-left: 100%;
  }
}
@media (min-width: 48px) {
  .col.\-md1 {
    width: 8.333333333333332%;
  }
  .col.\-md1-push {
    margin-left: 8.333333333333332%;
  }
  .col.\-md2 {
    width: 16.666666666666664%;
  }
  .col.\-md2-push {
    margin-left: 16.666666666666664%;
  }
  .col.\-md3 {
    width: 25%;
  }
  .col.\-md3-push {
    margin-left: 25%;
  }
  .col.\-md4 {
    width: 33.33333333333333%;
  }
  .col.\-md4-push {
    margin-left: 33.33333333333333%;
  }
  .col.\-md5 {
    width: 41.66666666666667%;
  }
  .col.\-md5-push {
    margin-left: 41.66666666666667%;
  }
  .col.\-md6 {
    width: 50%;
  }
  .col.\-md6-push {
    margin-left: 50%;
  }
  .col.\-md7 {
    width: 58.333333333333336%;
  }
  .col.\-md7-push {
    margin-left: 58.333333333333336%;
  }
  .col.\-md8 {
    width: 66.66666666666666%;
  }
  .col.\-md8-push {
    margin-left: 66.66666666666666%;
  }
  .col.\-md9 {
    width: 75%;
  }
  .col.\-md9-push {
    margin-left: 75%;
  }
  .col.\-md10 {
    width: 83.33333333333334%;
  }
  .col.\-md10-push {
    margin-left: 83.33333333333334%;
  }
  .col.\-md11 {
    width: 91.66666666666666%;
  }
  .col.\-md11-push {
    margin-left: 91.66666666666666%;
  }
  .col.\-md12 {
    width: 100%;
  }
  .col.\-md12-push {
    margin-left: 100%;
  }
}
@media (min-width: 64px) {
  .col.\-lg1 {
    width: 8.333333333333332%;
  }
  .col.\-lg1-push {
    margin-left: 8.333333333333332%;
  }
  .col.\-lg2 {
    width: 16.666666666666664%;
  }
  .col.\-lg2-push {
    margin-left: 16.666666666666664%;
  }
  .col.\-lg3 {
    width: 25%;
  }
  .col.\-lg3-push {
    margin-left: 25%;
  }
  .col.\-lg4 {
    width: 33.33333333333333%;
  }
  .col.\-lg4-push {
    margin-left: 33.33333333333333%;
  }
  .col.\-lg5 {
    width: 41.66666666666667%;
  }
  .col.\-lg5-push {
    margin-left: 41.66666666666667%;
  }
  .col.\-lg6 {
    width: 50%;
  }
  .col.\-lg6-push {
    margin-left: 50%;
  }
  .col.\-lg7 {
    width: 58.333333333333336%;
  }
  .col.\-lg7-push {
    margin-left: 58.333333333333336%;
  }
  .col.\-lg8 {
    width: 66.66666666666666%;
  }
  .col.\-lg8-push {
    margin-left: 66.66666666666666%;
  }
  .col.\-lg9 {
    width: 75%;
  }
  .col.\-lg9-push {
    margin-left: 75%;
  }
  .col.\-lg10 {
    width: 83.33333333333334%;
  }
  .col.\-lg10-push {
    margin-left: 83.33333333333334%;
  }
  .col.\-lg11 {
    width: 91.66666666666666%;
  }
  .col.\-lg11-push {
    margin-left: 91.66666666666666%;
  }
  .col.\-lg12 {
    width: 100%;
  }
  .col.\-lg12-push {
    margin-left: 100%;
  }
}
@media (min-width: 71.625px) {
  .col.\-xl1 {
    width: 8.333333333333332%;
  }
  .col.\-xl1-push {
    margin-left: 8.333333333333332%;
  }
  .col.\-xl2 {
    width: 16.666666666666664%;
  }
  .col.\-xl2-push {
    margin-left: 16.666666666666664%;
  }
  .col.\-xl3 {
    width: 25%;
  }
  .col.\-xl3-push {
    margin-left: 25%;
  }
  .col.\-xl4 {
    width: 33.33333333333333%;
  }
  .col.\-xl4-push {
    margin-left: 33.33333333333333%;
  }
  .col.\-xl5 {
    width: 41.66666666666667%;
  }
  .col.\-xl5-push {
    margin-left: 41.66666666666667%;
  }
  .col.\-xl6 {
    width: 50%;
  }
  .col.\-xl6-push {
    margin-left: 50%;
  }
  .col.\-xl7 {
    width: 58.333333333333336%;
  }
  .col.\-xl7-push {
    margin-left: 58.333333333333336%;
  }
  .col.\-xl8 {
    width: 66.66666666666666%;
  }
  .col.\-xl8-push {
    margin-left: 66.66666666666666%;
  }
  .col.\-xl9 {
    width: 75%;
  }
  .col.\-xl9-push {
    margin-left: 75%;
  }
  .col.\-xl10 {
    width: 83.33333333333334%;
  }
  .col.\-xl10-push {
    margin-left: 83.33333333333334%;
  }
  .col.\-xl11 {
    width: 91.66666666666666%;
  }
  .col.\-xl11-push {
    margin-left: 91.66666666666666%;
  }
  .col.\-xl12 {
    width: 100%;
  }
  .col.\-xl12-push {
    margin-left: 100%;
  }
}
button,
.button,
a.button {
  display: inline-block;
  outline: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
  text-align: center;
  font-family: inherit;
  font-size: 1em;
  font-style: $control__font-style;
  font-weight: $control__font-weight;
  height: 3.125em;
  line-height: 3.125;
  vertical-align: middle;
  border-radius: 2px;
}
button:disabled,
.button:disabled,
a.button:disabled,
button.disabled,
.button.disabled,
a.button.disabled {
  cursor: not-allowed;
}
button .\+success,
.button .\+success,
a.button .\+success {
  background: #5cb85c;
  color: #fff;
}
button .\+success:hover,
.button .\+success:hover,
a.button .\+success:hover {
  background: #6cbf6c;
}
button .\+success:disabled,
.button .\+success:disabled,
a.button .\+success:disabled,
button .\+success.disabled,
.button .\+success.disabled,
a.button .\+success.disabled {
  background: #8dcd8d;
  color: rgba(255,255,255,0.74);
}
button .\+warning,
.button .\+warning,
a.button .\+warning {
  background: #f0ad4e;
  color: #fff;
}
button .\+warning:hover,
.button .\+warning:hover,
a.button .\+warning:hover {
  background: #f2b560;
}
button .\+warning:disabled,
.button .\+warning:disabled,
a.button .\+warning:disabled,
button .\+warning.disabled,
.button .\+warning.disabled,
a.button .\+warning.disabled {
  background: #f4c683;
  color: rgba(255,255,255,0.74);
}
button .\+danger,
.button .\+danger,
a.button .\+danger {
  background: #d9534f;
  color: #fff;
}
button .\+danger:hover,
.button .\+danger:hover,
a.button .\+danger:hover {
  background: #dd6461;
}
button .\+danger:disabled,
.button .\+danger:disabled,
a.button .\+danger:disabled,
button .\+danger.disabled,
.button .\+danger.disabled,
a.button .\+danger.disabled {
  background: #e48784;
  color: rgba(255,255,255,0.74);
}
