/**
 * This file bootstraps all of Helpful UI's core modules.  If you
 * want to cherry pick various modules, you can do so with an @import
 * statement similar to the one below:
 *
 * @import 'bower_components/helpful-ui'
 */
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
article,
aside,
figure,
footer,
header,
nav,
section,
details,
summary {
  display: block;
}
[hidden],
template {
  display: none;
}
html,
body,
body div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
figure,
footer,
header,
menu,
nav,
section,
time,
mark,
audio,
video,
details,
summary {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}
html {
  font-size: 16px;
  -webkit-tap-highlight-color: #fff;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  overflow-y: scroll;
}
html,
body {
  min-height: 100%;
  height: 100%;
}
body {
  font-size: 100%;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  line-height: 1.45;
  color: #454545;
  background: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.09375rem;
  font-family: inherit;
}
p,
ul,
ol,
dl,
blockquote,
figure,
pre,
hr {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}
ul ul,
ol ul,
ul ol,
ol ol {
  margin-top: 0;
  margin-bottom: 0;
}
dt {
  font-weight: bold;
}
dd {
  margin-bottom: 0.5em;
  margin-left: 0;
}
nav ol,
nav ul {
  list-style: none;
}
blockquote > *:first-child {
  margin-top: 0;
}
blockquote > *:last-child {
  margin-bottom: 0;
}
b,
strong {
  font-weight: bold;
}
i,
em,
dfn {
  font-style: italic;
}
small {
  font-size: 80%;
}
sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
abbr[title] {
  cursor: help;
  border-bottom: dotted 1px;
}
address {
  margin-bottom: 1.5em;
  font-style: normal;
  line-height: inherit;
}
pre,
code,
kbd,
samp {
  font-size: 1em;
  font-family: 'Monaco', Courier New, monospace;
}
pre {
  overflow: auto;
}
a {
  color: #3498db;
  background: transparent;
}
a:hover,
a:active,
a:focus {
  outline: 0;
}
img {
  display: inline-block;
  vertical-align: middle;
  max-width: 100%;
  height: auto;
  border: 0;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
svg:not(:root) {
  overflow: hidden;
}
button,
input,
optgroup,
select,
textarea {
  margin: 0;
  font: inherit;
}
input,
select,
button,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background: ;
  border-radius: 3px;
  box-sizing: inherit;
  text-transform: none;
}
input,
select,
button,
textarea,
input:focus,
select:focus,
button:focus,
textarea:focus {
  outline: 0;
}
input,
select {
  line-height: normal;
}
input,
select,
textarea {
  border-style: solid;
  border-width: 1px;
  border-color: #ccc;
  -webkit-appearance: none;
}
input,
select,
button {
  padding: 0 1em;
  height: 2.5em;
  vertical-align: middle;
}
textarea {
  line-height: inherit;
  padding: 0.75em 1em;
  resize: vertical;
}
button,
input[type="button"] {
  line-height: 2.5em;
  border: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
fieldset {
  margin: 0;
  padding: 0;
  min-width: 0;
  border: 0;
}
legend {
  display: block;
  margin: 0.5em 0;
  padding: 0;
  border: 0;
  width: auto;
  font-size: 1.5em;
  line-height: inherit;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  font: inherit;
}
td,
th {
  padding: 0;
}
