@require '../config'
@require '../helpers/units'
@require '../helpers/line-height'

$hui.dropdown = merge({

  /**
   * ENABLE
   *
   * Enables the module and features when set to "true".
   */
  enabled: true

  /**
   * SELECTOR NAME
   *
   * Change the selector name for the component.
   */
  selector: 'dropdown'

  /**
   * USE AUTOMATIC CONVERSIONS
   *
   * When set to "true", units like "height" and "line-height" will auto-
   * matically be converted to the preferred unit type using the "pref()"
   * method.
   */
  convert-units: true

  /**
   * VARIANTS
   *
   * These are the rules that will be applied for the different variations
   * of the module.  The "default" variant will be used as the base, whereas
   * additional variants will be available as "modifiers" matching the related
   * key name.
   */
  variants: {

    // default state
    default: {
      position: relative
      display: block
      width: 100%
      cursor: pointer
      vertical-align: middle
      font-size: $hui.theme.control.font-size
      color: #4e4e4e
      background: $hui.theme.control.background
      height: $hui.theme.control.height
      box-shadow: $hui.theme.control.box-shadow
      border-style: $hui.theme.control.border-style
      border-width: $hui.theme.control.border-width
      border-color: $hui.theme.control.border-color
      border-radius: $hui.theme.control.border-radius

      // hover state
      '&:hover': {
        background: darken($hui.theme.control.border-color, 5%)
      }

      // focus state
      '&:focus': {
        background: darken($hui.theme.control.border-color, 5%)
      }

      // disabled state
      '&:disabled': {
        cursor: not-allowed
      }
    }

  }

  /**
   * ARROW
   *
   * The dropdown arrow on the right hand side.
   */
  arrow: {
    display: block
    position: absolute
    top: 50%
    right: 0.75em
    margin: -0.25em 0
    content: ''
    line-height: inherit
    border-top: unquote('solid 0.5em @color')
    border-left: solid 0.5em transparent
    border-right: unquote('@border-left')
    border-bottom: 0
    z-index: 1
  }

}, $hui.dropdown)

// run any recommended conversions...
if $hui.dropdown.convert-units
  $hui.dropdown.variants.default.height = pref($hui.dropdown.variants.default.height, $hui.dropdown.variants.default.font-size)

  if $hui.dropdown.variants.default.font-size is $hui.font-size
    remove($hui.dropdown.variants.default, 'font-size')
