@require '../theme'

/**
 * DROP DOWN
 *
 * Variables for dropdown style.
 */
$dropdown__font-size       ?= $global__size
$dropdown__color           ?= $theme__control-color
$dropdown__background      ?= $theme__control-background
$dropdown__height          ?= $theme__control-height
$dropdown__shadow          ?= $theme__control-shadow
$dropdown__border-color    ?= $theme__control-border-color
$dropdown__border-width    ?= $theme__control-border-width
$dropdown__border-radius   ?= $theme__control-radius
$dropdown__arrow-icon      ?= false
