@require '../theme'

$ratio = merge({

  /**
   * ENABLE
   *
   * Enables the module and features when set to "true".
   */
  enabled: true

  /**
   * SELECTOR NAME
   *
   * Change the selector name for the component.
   */
  selector: 'ratio'

  /**
   * OPTIONS
   *
   * Automatically generate modifiers using the given ratios.
   */
  options: {
    wide: 16 9
  }

}, $ratio)
