@require 'overflow'

/**
 * Generates the border, background and text color rules for buttons
 * based on the given button style, border width and color.
 *
 * TODO Find a way to make "style" work in an extensible way.
 */
button-style()
  $style  = arguments[0]
  $border = arguments[1]
  $color  = arguments[2]

  if $style is solid
    background $color
    color light($color) ? darken($color, 60%) : #fff
    if $border > 0 and light($color)
      border solid $border darken($color, 8%)
    else
      border 0
  else if $style is outline or $style is ghost
    background transparent
    border solid $border $color
    color $color
