/**
 * Takes a hash, filters out any falsey values and then interpolates
 * them.
 *
 * @param  {Object} $rules
 */
rules($rules)
  for $k, $rule in $rules
    $rules[$k] = rules($rule) if $rule is a 'object'
    remove($rules, $k) unless $rule
  {$rules}
