/**
 * Takes a hash, filters out any falsey values and then returns the result.
 *
 * @param  {Object} $rules
 */
rules($rules)
  $filtered = {}
  for $k,$rule in $rules
    $rule = rules($rule) if $rule is a 'object'
    $filtered[$k] = $rule if typeof($rule) is 'unit' or $rule
  if mixin isnt 'root'
    return $filtered
  {$filtered}
