/**
 * Takes a hash, filters out any falsey values or "omitted" keys
 * and then returns the result.
 *
 * @param  {Object} $rules
 * @param  {Array}  $omit
 */
rules($rules, $omit = ())
  $filtered = {}
  for $k,$rule in $rules
    unless $k in $omit
      $rule = rules($rule) if $rule is a 'object'
      unless !$rule and typeof($rule) in ('null' 'boolean')
        $filtered[$k] = $rule
  if mixin isnt 'root'
    return $filtered
  {$filtered}
!$rule and typeof($rule) in ('undefined' 'null' 'boolean')
