button,
.button,
a.button
  display inline-block
  outline 0
  user-select none
  white-space nowrap
  overflow hidden
  text-overflow ellipsis
  cursor pointer
  text-align center
  font-family inherit
  font-size 1em
  font-style $button__font-style
  font-weight $button__font-weight
  height em($button__height)
  line-height remove-unit(em($button__height))
  vertical-align middle
  border-radius $button__border-radius

  &:disabled,
  &.disabled
    cursor not-allowed
