/**
 * Generates rules for a new button color.  Creates default,
 * hover and disabled states.
 */
buttonColor($color)
  // TODO evaluate color brightness to determine darker/lighter text color
  $text-color = #fff

  background $color
  color $text-color

  // TODO evaluate color brightness to determine darker/lighter hover color
  &:hover
    background lighten($color, 10%)

  &:disabled,
  &.disabled
    background lighten($color, 30%)
    color alpha($text-color, 74%)
