.embed {
  position: relative;
  width: 100%;
  height: auto;
  padding: 0 0 75%;
}
.embed.\+wide {
  padding: 0 0 56.25%;
}
.embed img,
.embed embed,
.embed object,
.embed video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
