.icon {
  font-family: 'Test Icon';
}
.icon.\+foo:before {
  content: '\f00';
}
.icon.\+bar:before {
  content: '\f01';
}
.icon.\+baz:before {
  content: '\f02';
}
.icon.\+bah:before {
  content: '\f03';
}
