$hui = {
  icons: {

    enabled: true

    generate: {
      icon: 'test1'
    }

    sets: {
      test1: {
        font-family: 'Test Icon'
        glyphs: {
          foo: '\f00'
          bar: '\f01'
          baz: '\f02'
          bah: '\f03'
        }
      }
    }
  }
}

@require 'helpful-ui/icons'
