table {
  display: table;
  border-collapse: collapse;
  border-spacing: 0;
  border: 0;
  color: inherit;
}
tr {
  display: table-row;
  background: transparent;
}
th,
td {
  display: table-cell;
  text-align: center;
}
th:first-child,
td:first-child {
  text-align: left;
}
th:last-child,
td:last-child {
  text-align: right;
}
th {
  font-weight: bold;
  vertical-align: bottom;
}
td {
  font-weight: normal;
  vertical-align: top;
}
