@require '../config'

$grid = merge({

  /**
   * ENABLE
   *
   * Enables the module and features when set to "true".
   */
  enabled: true

  /**
   * GRID SELECTOR
   *
   * Change the selector name for the grid component.
   */
  grid-selector: 'grid'

  /**
   * COLUMN SELECTOR
   *
   * Change the selector name for the column component.
   */
  column-selector: 'col'

  /**
   * COLUMNS
   *
   * The total number of columns to use in this grid.
   */
  columns: 12

  /**
   * GUTTER DEFAULT
   *
   * The default gutter size to use.
   */
  gutter-size: {
    default: 30px
  }

}, $grid)

/**
 * Generate multiple gutter sizes based on breakpoints.
 */
$grid.gutter-size = merge({
  xs: $grid.gutter-size.default / 3
  sm: $grid.gutter-size.default / 2
  md: $grid.gutter-size.default
  lg: $grid.gutter-size.default
  xl: $grid.gutter-size.default
}, $grid.gutter-size)
