@require 'options'
@require '../helpers/clear'
@require '../helpers/units'
@require '../helpers/selectors'
@require '../helpers/rules'

$_gutter-xs = $grid.gutter-size.xs
$_gutter-sm = $grid.gutter-size.sm
$_gutter-md = $grid.gutter-size.md
$_gutter-lg = $grid.gutter-size.lg
$_gutter-xl = $grid.gutter-size.xl

$_media-xs = $hui.breakpoints.xs
$_media-sm = $hui.breakpoints.sm
$_media-md = $hui.breakpoints.md
$_media-lg = $hui.breakpoints.lg
$_media-xl = $hui.breakpoints.xl

$_columns = $grid.columns

{component($grid.grid-selector)}
  margin-left pref(-1 * ($_gutter-xs / 2))
  margin-right @margin-left
  clear children

  $_prev = $_gutter-xs

  for $size in (sm md lg xl)
    if lookup('$_gutter-' + $size) isnt lookup('$_gutter-' + $_prev)
      @media (min-width: lookup('$_media-' + $size))
        margin-left pref(-1 * (lookup('$_gutter-' + $size) / 2))
        margin-right @margin-left
    $_prev = $size

{component($grid.column-selector)}
  float left
  display block
  width 100%

  $_prev = false

  for $size in (xs sm md lg xl)
    for $i in 1..$_columns
      {modifier($size + $i)}
        if lookup('$_gutter-' + $size) isnt lookup('$_gutter-' + $_prev)
          padding-left pref(lookup('$_gutter-' + $size) / 2)
          padding-right @padding-left
        width unit(($i / $_columns) * 100, '%')

        &-push
          margin-left unit(($i / $_columns) * 100, '%')

    $_prev = $size
