@require 'deep-merge'

/**
 * "Globals" are configuration settings that are not specific to any
 * one module and can therefore safely be used by any module.
 *
 * -------------------------------------------------------------------
 */

$hui = deepMerge({

  /**
   * ENFORCE HEIGHT
   *
   * If you want to be able to use 100% on the window size, set this
   * to true.
   */
  enforce-height: true

  /**
   * ENFORCE SCROLL BAR
   *
   * Forces a vertical scroll bar be added to help prevent the page from
   * being jumpy when page height dynamically change.
   */
  enforce-scroll-bar: true

  /**
   * FONT SMOOTHING
   *
   * Defaults the fomt-smoothing to antialiased (Webkit friendly). For Firefox,
   * Zero converts antialiased to grayscale so that fonts look antialiased.
   */
  font-smoothing: antialiased

  /**
   * SELECTOR FORMATS
   *
   * The formatting rules for the different types of selectors.  Set to
   * match Helpful UI's standard by default.
   */
  formats: {
    component: '%s .%s'
    part: '%s__%s'
    modifier: '%s.\+%s'
    state: '%s.is-%s'
    context: '%s.as-%s'
  }

  /**
   * BASE
   *
   * These are the base settings used for calculating font sizes and
   * defining the rules for tags like <html> and <body>.
   */
  base: {
    font-size: 16px
    line-height: 1.45
    font-weight: normal
    font-style: normal
    content-margin: 1.5em
  }

  /**
   * FONTS
   *
   * These are the fonts which will be used by the other modules.
   */
  fonts: {
    primary: unquote("'Helvetica Neue', Arial, sans-serif")
    headings: inherit
    code: unquote("'Monaco', Courier New, monospace")
  }

  /**
   * COLORS
   *
   * Contains color codes that can be used by Zero, future plugins or
   * your own components.
   */
  colors: {
    body-text: #454545
    body-bg: #fff
    headings: #333
    links: #3498DB
  }

  /**
   * CONTROLS
   *
   * These are settings shared across all form controls to help enforce
   * a uniform style.
   */
  controls: {
    padding: 0.75em 1em
    font-family: inherit
    font-size: inherit
    height: 2.5em
    line-height: inherit
    color: inherit
    border-color: #ccc
    border-width: 1px
    border-radius: 3px
    hide-overflow: true
  }


}, $hui)
