/**
 * Returns true if the given list contains an option with the given name.
 *
 * @param  {Array} $inList
 * @return {Boolean}
 */
has-option($inList, $option)
  $option = '--' + $option
  return $option in $inList

/**
 * Returns true if the --force option is present in the given list.
 *
 * @param  {Array} $inList
 * @return {Boolean}
 */
is-forced($inList)
  return has-option($inList, force)

/**
 * Removes --options from the given list.
 *
 * @param  {Array} $inList
 * @return {Array)
 */
remove-options($inList)
  $outList = ()
  for $arg in $inList
    push($outList, $arg) unless match('^--.+', $arg)
  return $outList
