@require 'globals'

/**
 * "Theme" settings are similar to global settings in that they can be
 * used by any module.  However, these are to be used for brand specific
 * things like fonts and colors.
 *
 * -------------------------------------------------------------------
 */
$theme = merge({

  /**
   * SHARED CONTROL SETTINGS
   *
   * These are settings related to control elements like inputs, textareas
   * and buttons.
   */
  control: {
    font-size: $global.font-size
    height: 32px
    background: #fff
    color: inherit
    border-style: solid
    border-width: 1px
    border-color: #EEE
    border-radius: 2px
    box-shadow: none
  }

  /**
   * COLORS
   */
  colors: {
    gray: {
      light: #EEE
      mid: #555
      dark: #222
    }
    primary: {
      mid: #673AB7
    }
    accent: {
      mid: false
    }
    success: {
      mid: #8BC34A
    }
    error: {
      mid: #F44336
    }
  }

  /**
   * FONTS
   *
   * These are the fonts which will be used by the other modules.
   */
  fonts: {
    primary: unquote("'Helvetica Neue', Arial, sans-serif")
    headings: inherit
    code: unquote("'Monaco', Courier New, monospace")
  }

}, $theme)

/**
 * If no accent color has been defined, make one using Stylus'
 * "complement()" method
 */
unless $theme.colors.accent.mid
  $theme.colors.accent.mid = complement($theme.colors.primary.mid)

/**
 * If light and dark color ranges haven't been explicitly set, generate some
 * nice alternatives.
 */
for $k, $v in $theme.colors
  unless $v.light
    $v.light = lighten($v.mid, 40%)
  unless $v.dark
    $v.dark = darken($v.mid, 40%)
