@require 'options'
@require '../helpers/selectors'
@require '../helpers/aspect-ratio'

{component($ratio.selector)}
  position relative
  width 100%
  height auto
  aspect-ratio 4 3

  for $name, $size in $ratio.options
    {modifier($name)}
      aspect-ratio $size

  img, embed, object, video
    position absolute
    top 0
    left 0
    width 100%
    height 100%
