@require '../config'

$hui.icons = merge({

  /**
   * ENABLE
   *
   * Enables the module and features when set to "true".
   */
  enabled: false

  /**
   * DEFAULT
   *
   * This is the default font that the icon() helper will use.
   */
  default: 'feather'

  /**
   * AUTO GENERATE
   *
   * An object containing the desired selector name as the key followed
   * by the icon set that will be used.
   */
  generate: {
    icon: 'feather'
  }

  /**
   * ICON SETS
   *
   * Icon sets are defined as objects containing various component rules
   * and a "gylphs" sub object which contains the icon names and their
   * character code.
   */
  sets: {}

}, $hui.icons)

@require 'sets/*'
