@require 'options'
@require '../helpers/selectors'

for $_hui-sel, $_hui-sen in $hui.icons.generate
  $_hui-set = $hui.icons.sets[$_hui-sen]
  unless typeof($_hui-set) is 'object'
    error('Failed to generate icon set: ' + $_hui-sen)
  {component($_hui-sel)}
    font-family: $_hui-set.font-family

    for $_hui-k, $_hui-v in $_hui-set.glyphs
      {modifier($_hui-k)}:before
        content: $_hui-v
