@require 'helpful-ui/config'

$MODULE_NAME = merge({

  /**
   * ENABLE
   *
   * Enables the module and features when set to "true".
   */
  enabled: true

  /**
   * SELECTOR NAME
   *
   * Change the selector name for the component.
   */
  selector: 'COMPONENT_NAME'

}, $MODULE_NAME);
