@require '../theme'
@require '../helpers/units'

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6
  margin 0 auto
  if $theme__font-anthology isnt $theme__font-paragraph
    font-family $theme__font-anthology
  color $theme__heading-text-color

h1, .h1
  font-size pref($theme__heading-1-font-size)
  line-height $theme__heading-1-line-height $theme__heading-1-font-size
  font-weight $theme__heading-1-font-weight
  font-style $theme__heading-1-font-style
  color $theme__heading-1-color

h2, .h2
  font-size pref($theme__heading-2-font-size)
  line-height $theme__heading-2-line-height $theme__heading-2-font-size
  font-weight $theme__heading-2-font-weight
  font-style $theme__heading-2-font-style
  color $theme__heading-2-color

h3, .h3
  font-size pref($theme__heading-3-font-size)
  line-height $theme__heading-3-line-height $theme__heading-3-font-size
  font-weight $theme__heading-3-font-weight
  font-style $theme__heading-3-font-style
  color $theme__heading-3-color

h4, .h4
  font-size pref($theme__heading-4-font-size)
  line-height $theme__heading-4-line-height $theme__heading-4-font-size
  font-weight $theme__heading-4-font-weight
  font-style $theme__heading-4-font-style
  color $theme__heading-4-color

h5, .h5
  font-size pref($theme__heading-5-font-size)
  line-height $theme__heading-5-line-height $theme__heading-5-font-size
  font-weight $theme__heading-5-font-weight
  font-style $theme__heading-5-font-style
  color $theme__heading-5-color

h6, .h6
  font-size pref($theme__heading-6-font-size)
  line-height $theme__heading-6-line-height $theme__heading-6-font-size
  font-weight $theme__heading-6-font-weight
  font-style $theme__heading-6-font-style
  color $theme__heading-6-color
