@require '../config'
@require '../helpers/line-height'
@require '../helpers/units'

$hui.typography = merge({

  /**
   * ENABLE
   *
   * Enables the module and features when set to "true".
   */
  enabled: true

  /**
   * BODY
   *
   * These are the primary rules used for the body.  Primary font
   * will be handled automatically in the classes file.
   */
  body: {
    color: darken($hui.colors.gray.mid, 8%)
    background: #fff
    font-family: $hui.fonts.primary
    font-weight: normal
    font-style: normal
    line-height: 1.45
  }

  /**
   * HEADINGS
   *
   * These are the heading rules that will be shared across all headings
   * by default.
   */

  headings: {

    default: {
      color: $hui.colors.gray.dark
      font-family: $hui.fonts.headings
      font-weight: bold
      font-style: normal
      line-height: 1.25
    }

    h1: {
      font-size: 3.125em
      line-height: 1
    }

    h2: {
      font-size: 2.3125em
    }

    h3: {
      font-size: 1.75em
    }

    h4: {
      font-size: 1.3125em
    }

    h5: {
      font-size: 1em
    }

    h6: {
      font-size: 0.75em
    }

  }

  /**
   * PARAGRAPH
   *
   * Styles for the <p> tag.
   */
  paragraph: {
    margin: 1.5em auto
  }

  /**
   * LISTS
   *
   * Styles for the <ul> and <li> tags.
   */
  lists: {
    default: {
      margin: 1.5em auto
      padding: 0 0 0 0.25em
    }
    ol: {
      list-style: initial outside
    }
    ul: {
      list-style: disc outside
    }
  }

  /**
   * LINKS
   *
   * Stylings used for anchor tags.
   */
  links: {
    margin: 0
    padding: 0
    font-size: 100%
    vertical-align: baseline
    text-decoration: none
    cursor: pointer
    color: $hui.colors.primary.mid
  }

  /**
   * CODE
   *
   * Settings for customizing code or example tags like <pre>, <code>,
   * and <kbd>
   */
  code: {
    font-family: $hui.fonts.code
  }

  /**
   * PRE
   *
   * Rules for the <pre> tag
   */
  pre: {
    white-space: pre
    'white-space ': pre-wrap
    'white-space  ': pre-line
    word-wrap: break-word
  }

  /**
   * HORIZONTAL RULE
   *
   * Styles for the horizontal rules.
   */
  hr: {
   display: block
   margin: 1em 0
   padding: 0
   border: 0
   height: 1px
   background: $hui.colors.gray.light
 }

  /**
   * SELECTION
   *
   * Changes the colors for selected text.
   */
  selection: {
    color: #fff
    background: alpha($hui.colors.primary.mid, 0.86)
    text-shadow: none
  }

  /**
   * DEFINITIONS
   *
   * Styles to be applied to the <abbr> and <dfn> tags.
   */
  definitions: {
    border-bottom: dotted 1px #222
    cursor: help
  }

}, $typography)
