@require 'options'
@require '../helpers/rules'

body
  rules($hui.typography.body)

::selection
  rules($hui.typography.selection)

a
  rules($hui.typography.links)

p
  rules($hui.typography.paragraph)

ol, ul
  rules($hui.typography.lists.default)

ol
  rules($hui.typography.lists.ol)

ul
  rules($hui.typography.lists.ul)

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6
  rules($hui.typography.headings.default)

for i in 1..6
  h{i},.h{i}
    rules($hui.typography.headings['h' + i])

hr
  rules($hui.typography.hr)

pre, code, kbd, samp
  rules($hui.typography.code)

pre
  rules($hui.typography.pre)

small
  font-size 85%

b, strong
  font-weight bold

i, em
  font-style italic

sub, sup
  position relative
  font-size 75%
  line-height 0

sup
  top -0.5em

sub
  bottom -0.5em

del
  text-decoration line-through

abbr[title], dfn[title]
  rules($hui.typography.definitions)

q, blockquote
  quotes none

  &:before,
  &:after
    content ''
    content none
