@import 'helpful-ui/options'

$list1 = solid 1px #fff --force

.has-option1
  test: has-option($list1, force)

$list2 = solid --extend 1px #fff --force

.has-option2
  test: has-option($list2, 'extend')

$list3 = solid 1px #000

.has-option3
  test: has-option($list3, noval)

.not-forced
  test: is-forced(one two --three)

.is-forced
  test: is-forced(one two --three --force)

.remove-options1
  test: remove-options(one --two)

.remove-options2
  test: remove-options(one two --three)

.remove-options3
  test: remove-options(one --two three)

.remove-options4
  test: remove-options(one --two three --four)
