.has-option1 {
  test: true;
}
.has-option2 {
  test: true;
}
.has-option3 {
  test: false;
}
.not-forced {
  test: false;
}
.is-forced {
  test: true;
}
.remove-options1 {
  test: one;
}
.remove-options2 {
  test: one two;
}
.remove-options3 {
  test: one three;
}
.remove-options4 {
  test: one three;
}
