@require '../helpers/overflow'
@require 'options'

.panel
  position relative
  display block
  width 100%
  overflow hidden
  if $panel__size isnt $global__size
    font-size pref($panel__size)
  color $panel__color
  background $panel__background
  border solid $panel__border-width $panel__border-color
  if $panel__border-radius
    border-radius $panel__border-radius
  if $panel__shadow and $panel__shadow isnt none
    box-shadow $panel__shadow

  & > header,
  &__header
    display block
    margin 0
    padding pref($panel__header-padding, $panel__header-size)
    overflow ellipsis
    line-height 1
    if $panel__header-size isnt $panel__size
      font-size pref($panel__header-size, $panel__size)
    unless $panel__header-background isnt $panel__background or $panel__header-border-width > 0
      padding-bottom 0
    if $panel__header-border-width > 0
      border-bottom solid $panel__header-border-width $panel__header-border-color
    if $panel__header-color isnt $panel__color
      color $panel__header-color
    if $panel__header-background isnt $panel__background
      background $panel__header-background

  & > section,
  &__section,
  &__body
    display block
    margin 0
    padding pref($panel__body-padding, $panel__body-size)
    if $panel__body-size isnt $panel__size
      font-size pref($panel__body-size, $panel__size)
    if $panel__body-color isnt $panel__color
      color $panel__body-color
    if $panel__body-background isnt $panel__background
      background $panel__body-background

  & > section + section,
  &__section + &__section
    if $panel__body-border-width > 0
      border-top solid $panel__body-border-width $panel__body-border-color
    else
      padding-top 0


  & > footer,
  &__footer
    display block
    margin 0
    padding pref($panel__footer-padding, $panel__footer-size)
    if $panel__footer-size isnt $panel__size
      font-size pref($panel__footer-size, $panel__size)
    unless $panel__footer-background isnt $panel__background or $panel__footer-border-width > 0
      padding-top 0
    if $panel__footer-border-width > 0
      border-top solid $panel__footer-border-width $panel__footer-border-color
    if $panel__footer-color isnt $panel__color
      color $panel__footer-color
    if $panel__footer-background isnt $panel__background
      background $panel__footer-background
