@require '../theme'

/**
 * BUTTONS
 *
 * Variables for button style.
 */
$button__font-size              ?= $global__size
$button__font-style             ?= inherit
$button__font-weight            ?= inherit
$button__height                 ?= $theme__control-height
$button__border-radius          ?= $theme__control-radius
$button__default-color          ?= $theme__brand-color-300
