@require '../theme'
@require '../helpers/units'

$button = merge({

  /**
   * ENABLE
   *
   * Enables the module and features when set to "true".
   */
  enabled: true

  /**
   * SELECTOR NAME
   *
   * Change the selector name for the component.
   */
  selector: 'button'

  /**
   * USE AUTOMATIC CONVERSIONS
   *
   * When set to "true", units like "height" and "line-height" will auto-
   * matically be converted to the preferred unit type using the "pref()"
   * method.
   */
  convert-units: true

  /**
   * STATE STYLES
   *
   * These are rules that will be applied to each of the button states.
   */
  states: {

    // default button state
    default: {
      display: block
      margin: 0
      padding: 0 1em
      width: 100%
      height: $theme.control.height
      line-height: false
      cursor: pointer
      user-select: none
      overflow: ellipsis
      text-align: center
      vertical-align: middle
      font-size: $theme.control.font-size
      font-style: inherit
      font-weight: inherit
      border-radius: $theme.control.border-radius
      box-shadow: $theme.control.box-shadow
      border: none
    }

    // hover state
    hover: {
      text-decoration: none
    }

    // disabled state
    disabled: {
      cursor: not-allowed
    }

  }

}, $button)

// run any recommended conversions...
if $button.convert-units
  $button.states.default.line-height = $button.states.default.height $button.states.default.font-size
  $button.states.default.height = pref($button.states.default.height, $button.states.default.font-size)

  if $button.states.default.font-size is $global.font-size
    remove($button.states.default, 'font-size')
