@require 'options'
@require '../helpers/selectors'
@require '../helpers/line-height'
@require '../helpers/rules'

button,
{component($hui.button.selector)},
input[type="submit"]
  for $_hui-k, $_hui-v in $hui.button.variants
    if $_hui-k is 'default'
      rules($_hui-v)
    else
      {modifier($_hui-k)}
        rules($_hui-v)

  {state('disabled')}
    @extend button:disabled
