@require 'options'
@require '../helpers/selectors'
@require '../helpers/line-height'
@require '../helpers/rules'

button,
{component($button.selector)},
input[type="submit"]
  rules($button.states.default)

  &:hover
    rules($button.states.hover)

  &:focus
    rules($button.states.focus)

  &:disabled,
  {state('disabled')}
    rules($button.states.disabled)
