/**
 * Converts pixels to EMs.  The first argument should be the
 * desired pixel amount when compared to either the second argument
 * or the default "$global__size" variable.
 */
em($amount, $base = $global__size)
  if unit($amount) == 'px'
    $amount = $amount / $base

  unit($amount, 'em')


/**
 * When applied to a class, it helps to prevent the user from
 * selecting/highlighting an HTML element. This is often used to
 * prevent accidental highlighting.
 */
no-user-select()
  user-select none
