@require '../helpers/clear'

/**
 * Self clears floating child elements (clearfix).
 *
 * Example:
 *
 * <div class="+clear">
 *   <div style="float:left;"></div>
 * </div>
 */
.\\+cf,
.\\+clear
  clear children

/**
 * Clears proceeding left floating elements.
 *
 * Example:
 *
 * <div class="+cl">
 *   <div style="float:left;"></div>
 * </div>
 */
.\\+cl
  clear left

/**
 * Clears proceeding right floating elements.
 *
 * Example:
 *
 * <div class="+cr">
 *   <div style="float:right;"></div>
 * </div>
 */
.\\+cr
  clear right
