@require '../helpers/selectors'

{modifier('xs')}
  font-size 0.75em

{modifier('sm')}
  font-size 0.875em

{modifier('resize')}
  font-size $global__size
  font-size 1rem

{modifier('lg')}
  font-size 1.125em

{modifier('xl')}
  font-size 1.25em

{modifier('xxl')}
  font-size 1.375em
