/**
 * Reset rules for box elements.
 */
reset-box-rules()
  margin: 0
  padding: 0
  border: 0
  outline: 0

/**
 * Reset rules for typographic elements.
 */
reset-font-rules()
  font-weight: inherit
  font-style: inherit
  font-family: inherit
  font-size: 100%
  vertical-align: baseline
